<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comentario</title>
</head>
<body>
    <h1>Comentario con id: <%= comentario.id %></h1>
    <h2> <%= comentario.comentario %> - <%= comentario.usuario %></h2>
    <a href="/comentario/<%= comentario.id%>/editar">Editar comentario</a>
    <br>
    <form method="POST" action="/comentario/<%=comentario.id%>/?_method=DELETE">
        <input type="submit" value="Eliminar comentario">
    </form>
    <br>
    <a href="/comentarios"> Volver a comentarios</a>
</body>
</html>